.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border: 10px;
    object-fit: contain;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostEdit {
    float: right;
    font-size: 18px;
}

.singlePostIcon {
    margin-right: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: #ceb92c;
}

.singlePostIcon:last-child {
    color: #373e98;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    color: #373e98;
    font-size: 18px;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDesc {
    color: #3F3F3F;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
}

.singlePostDesc::first-letter {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;
}